<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Der unsichtbare Faden</title>
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
		
		<!-- jQuery -->
		<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-1.11.2.min.js') }}"></script>
		
		<!-- Knockout -->
		<script type='text/javascript' src='{{ url_for('static', filename='knockout/knockout-3.3.0.js') }}'></script>
				
		<!-- D3.js -->
		<script type='text/javascript' src='{{ url_for('static', filename='d3/d3.min.js') }}' charset="utf-8"></script>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}" />
	</head>
	
	<body>
	<div>
		<div id="background" data-bind="foreach: allArticles" >
			<img data-bind="attr: { src: '/texture/'+id }" style="width: 100px; height: 100px;"/>
		</div>
	
		<div data-bind="if: currentArticle()" id="article-wrap">
			<div id="article" data-bind="html: currentArticle().text"></div>
		</div>
		<svg id="booklevels" data-bind="graph: bookLevels">
		
		</svg>
		<div id="symbols" data-bind="foreach: currentSymbols">
			<button data-bind="text: icon, click: nextArticle"></button>
		</div>
	</div>
	
	<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
	<script type="text/javascript">
		var model = AppViewModel({{symbol}});
		ko.applyBindings(model);
	</script>
	</body>
</html>