{% extends "base.html" %} {% block content %}


<div style="margin: 30px; text-align: center; border: 3px solid #000;">
	<form action="/game" method="post">
	{% for s in symbols %}
		<button class="btn-symbol" type="submit"  name="symbol" value="{{s.id}}" title="{{s.name}}">
			<span class="btn-symbol-name">{{s.name}}</span>
			<span class="btn-symbol-icon">{{s.icon}}</span>
		</button>
	{% endfor %}
	</form>
</div>


<p class="block">VERWEHT UND STRAHLEND erschien Gerda Roth am Eingang, ein
	Mikroskop unter den Armen, ihre Haare glänzten rötlich in der
	Morgensonne und die viel zu große Sonnenbrille rutschte langsam ihre
	Nase herunter. Die erste Passage der Ulysses von James Joyce riefen
	sich ihr in Erinnerung. Sie hielt das Mikroskop in die Höhe und
	intonierte in dem Moment als sie Odo Tolkewitzer auf der anderen
	Straßenseite erkannte:</p>
<p>
	<i>- Emitte lucem tuam et veritatem tuam.</i>
</p>
<p class="block">Innehaltend lugte sie hinter ihren dunklen Brillengläsern hervor
	und spürte förmlich wie sein blonder Rauschebart zu zittern begann.
	Hunderte unterschiedlich farbiger Papierzettel zog Odo Tolkewitzer aus
	seiner abgenutzten Ledertasche, schüttelte müde den Kopf und eilte über
	die Pflastersteine zu ihr.</p>
<p class="block">- Es kann kein Zweifel sein, dass die Erzählung eines
	Einzelschicksals in linearer Erzählweise aufbereitet sowie
	geschichtliches Material nur durch dramaturgischen Inzest wiedergegeben
	werden kann. Der rote Faden drückt Erfahrung aus der Erzählung heraus!
</p>
<p class="block">In seiner leisen Stimme verbanden sich eine seltsame Art Euphorie
	und Resignation gleichermaßen, er verneigte sich vor ihr und reichte
	ihr den Stapel an Papieren. Als glaubte sie, dass er so verschwinden
	würde, blinkten Gerdas dunkle ironische Augen ihn an und nahmen seine
	feine Gestalt optisch auseinander.</p>
<p>- Ich will eine solche werden wie vorher eine war!</p>
<p class="block">Und im Ton eines Predigers mit tiefer Stimme fügte sie hinzu.</p>
<p class="block">- Denn das, o geliebte Spielerschaft, ist der eigentliche Sinn:
	Leib und Seele, potz Blut und Wunden. Technomusik, wenn ich bitten
	darf. Ohne Entscheidung – keine Handlung. Die Augen zu, meine Damen und
	Herren. Das Symbol Ihrer Wahl bringt Sie zum nächsten Tagebucheintrag.
</p>
<p class="persons">
	Idee/Konzept <b>Katharina Groß</b> <br /> Programmierung <b>Mario
		Gienapp &amp; Marcus Degenkolbe</b>
</p>


{% endblock %}
