body {
	font-family: Arial;
	padding: 10px;
}

div#view{
	padding-top: 45px;
}

/*** LOGIN ***/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input {
	margin-bottom: 5px;
}

/** ARTICLE OVERVIEW ***/
.article{
	margin: 12px auto;
	width: 500px;
}

.articleCtrl{
	width: 500px;
	margin: 0px auto;
}

.article h3{
	font-weight: bold;
}

/*** EDITOR ***/
.articleHeadline, .articlebook{
	min-width: 300px;
	padding: 5px;
	margin: 5px;
	font-size: medium;
	font-weight: bold;
	/* clear:both; */
}

.articlebook{
	min-width: 40px;
	width: 40px !important;
}

.smallLabel{
	font-size: smaller;
	padding-left: 5px;
}

.articleInput{
	padding: 2px;
	float: left;
	vertical-align: baseline;
}

.articleInput select{
	margin: 5px;
	width: 120px;
}

.articleInput div{
	margin-top: 3px;
}

.articleEditor{
	margin: 5px;
	clear: both;
}

#editortext{
	min-height: 300px;
}

.articleCategories{
	margin: 5px;
}