body {
	font-family: Arial;
	
}

div#menu{
	top: 0px;
	width: 100%;
	height: 40px;
	position: fixed;
	border-bottom: 1px solid #000;
	background-color: #fff;
	padding: 5px;
}

div#menu li{
	list-style: none;
	display: inline;
	margin: 5px;
}

div#view{
	padding-top: 45px;
	
}

/** ARTICLE OVERVIEW ***/
.article{
	margin: 12px auto;
	width: 500px;
	border: 1px solid #333;
	border-radius: 5px;
}

.article .articleHead{
	font-weight: bold;
}

.article .articleText,
.article .articleButtons,
.article .articleCat,
.article .articleHead
{
	padding: 3px;
	border-bottom: 1px solid #999;
}

.article .articleButtons{
	text-align: right;
	border-bottom: none;
}

/*** EDITOR ***/
.articleHeadline, .articlebook{
	min-width: 300px;
	padding: 5px;
	margin: 5px;
	font-size: medium;
	font-weight: bold;
	/* clear:both; */
}

.articlebook{
	min-width: 40px;
	width: 40px !important;
}

.articleEditor{
	margin: 5px;
}

.articleCategories{
	margin: 5px;
}

.articleSymbol{
	padding: 10px;
	float: left;
}

.articleSymbol select{
	width: 120px;
}