<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-1.11.2.min.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='jquery/css/transitions.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.collagePlus.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.removeWhitespace.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.collageCaption.min.js') }}"></script>
	</head>
	<body>	
		<div class="collage  effect-parent">
		{% for f in files %}
			<div class="Image_Wrapper" data-caption="{{ f }}" style="text-align: center;">
				<a href="javascript:chooseFile('/upload/images/{{f}}')">
					<img src="/upload/images/{{f}}" alt="{{f}}">
				</a>
			</div>
		{% endfor %}
		</div>
		
		
		<script type="text/javascript">
		$(window).load(function() {
			$('.collage').removeWhitespace().collagePlus({
				'effect'          : 'default',
				'targetHeight'    : 300,
				'fadeSpeed'       : 500,
			}).collageCaption();
		});
		
		function chooseFile( fileUrl ){
			window.opener.CKEDITOR.tools.callFunction( {{funcNum}}, fileUrl );
			window.close();
		}
		</script>
	</body>
</html>