<div id ="main">

     <div class = "row">
         <div class="cell menu"><button onclick="window.location.href='#/start'" >HOME</button></div>
        <div class = "cell content"><h1>Der unsichtbare Faden</h1></div>
    </div>
        

    <div class ="row">
        <div class="cell menu"><button onclick="window.location.href='#/info'">INFO</button></div>
        <div class="cell content loadingBar">
            <h4>Inhaltliche Fragen an:</h4>
            <p><a href="mailto:post@katharinagross.tv">post[at]katharinagross.tv</a></p>
            <h4>Technische Fragen an:</h4> 
            <p><a href="mailto:mario_gates@ymail.com">mario_gates[at]ymail.com</a> oder <a href="mailto:lastenaufzug@gmx.de">lastenaufzug[at]gmx.de</a></p>
        </div>

    </div>
        
        
    <div class ="row">
        <div class="cell menu">
            <button onclick="window.location.href='../../../backend'">LOGIN</button> 
            <br /> <br /> <br /> 
            <button onclick="window.location.href='../../../backend'">KONTAKT</button>
            
            <p id="impressum">URHEBERRECHT Die auf dieser Website verwendeten Bilder und Texte, sowie die sonstigen Inhalte sind urheberrechtlich geschützt. 
        Alle Inhalte dürfen ohne Absprache weder von Benutzern kopiert, verbreitet oder verändert werden. 
        © Katharina Groß © Mario Gienapp und Marcus Degenkolbe . 
        Alle Rechte vorbehalten.</p>
        </div>
        <div class="cell content">
           
        </div>
    </div>
        
</div>