
<!--<div id="menu">
    <ul>
        <li><button id="login" onclick="window.location.href='../../../backend'">LOGIN</button></li>
        <li><button id="kontakt" onclick="window.location.href='http://katharinagroß.de/kontakt/'">KONTAKT</button></li>
    
        <li></li>

    </ul>
</div>-->

<div id ="main">

     <div class = "row">
         <div class="cell menu"><button onclick="window.location.href='#/start'" >HOME</button></div>
        <div class = "cell content"><h1>Der unsichtbare Faden</h1></div>
    </div>
        

    <div class ="row">
        <div class="cell menu"><button onclick="window.location.href='#/info'">INFO</button></div>
        <div class="cell content loadingBar">
            <h4>Inhaltliche Fragen an:</h4>
            <p><a href="mailto:post@katharinagross.tv">post[at]katharinagross.tv</a></p>
            <h4>Technische Fragen an:</h4> 
            <p><a href="mailto:mario_gates@ymail.com">mario_gates[at]ymail.com</a> oder <a href="mailto:lastenaufzug@gmx.de">lastenaufzug[at]gmx.de</a></p>
        </div>

    </div>
        
        
    <div class ="row">
        <div class="cell menu">
            <button onclick="window.location.href='../../../backend'">LOGIN</button> 
            <br /> <br /> <br /> 
            <button onclick="window.location.href='../../../backend'">KONTAKT</button>
            
            <p id="impressum">URHEBERRECHT Die auf dieser Website verwendeten Bilder und Texte, sowie die sonstigen Inhalte sind urheberrechtlich geschützt. 
        Alle Inhalte dürfen ohne Absprache weder von Benutzern kopiert, verbreitet oder verändert werden. 
        © Katharina Groß © Mario Gienapp und Marcus Degenkolbe . 
        Alle Rechte vorbehalten.</p>
        </div>
        <div class="cell content">
           
        </div>
    </div>
        <!--<div id="browserTextDiv">
            <div id="browserText">
            Die Erzählung verwendet WebGL.<br />
            Zur korrekten Darstellung verwenden Sie bitte <a href="https://www.google.com/intl/de/chrome/browser/">Google Chrome</a> oder <a href="http://www.srware.net/software_srware_iron.php">SRWare Iron</a>.  
            </div>
       
        </div>-->
     
    <!--    <div id="persons">
        Idee/Konzept <b>Katharina Groß</b> <br />
        Programmierung <b>Mario Gienapp &amp; Marcus Degenkolbe</b>
        </div>-->
  
    <!--<button id="enter" onclick="window.location.href='#/intro'">ENTER</button>-->
</div>