
<div id="menu">
    <ul>
        <li><button id="login" onclick="window.location.href='../../../backend'">LOGIN</button></li>
        <li><button id="kontakt" onclick="window.location.href='http://katharinagroß.de/kontakt/'">KONTAKT</button></li>
    
        <li><p id="impressum">URHEBERRECHT Die auf dieser Website verwendeten Bilder und Texte, sowie die sonstigen Inhalte sind urheberrechtlich geschützt. 
        Alle Inhalte dürfen ohne Absprache weder von Benutzern kopiert, verbreitet oder verändert werden. 
        © Katharina Groß © Mario Gienapp und Marcus Degenkolbe . 
        Alle Rechte vorbehalten.</p></li>

    </ul>
</div>

<div id ="main">
    <div id="content">
        <h1>Der unsichtbare Faden</h1>
        <div id="text">
            <p>Der unsichtbare Faden (2006 – 2014) ist eine webbasierte, interaktive und non-lineare Erzählung und Bewusstseins- bzw. Zivilisationsforschung. 
                Die „Autorin“ (Katharina Groß) dialogisiert mit und über vier weitere Charaktere (Odo Tolkewitzer, Gerda Roth, Caroline Faux und K.) bestimmte Dinge, denen sie in der innen und äußeren Welt gewahr wird. 
                Es handelt sich um Interpretationen von Welt und die Bemühung um Aufklärung. Sie bezieht die vier Charaktere in den Schreibprozess mit ein, sie sind Teil von ihr und ein Instrument um sich ihre Wahrnehmung wahrnehmbar zu machen. 
                Alle Tagebucheinträge werden logisch-methodisch und sinngebend zu einer Erzählung durch jeden Leser und dessen gewählte Operationen neu montiert. 
                Die Tagebucheinträge entwickeln sich auf diese Art zu einem kontinuierlich wachsenden rhizomatischen Gedankengeflecht. 
                Der Leser kann zwischen einer Auswahl an Symbolen seine Entscheidungen treffen wie der Fortgang der Erzählung sein soll. 
                Je nach Symbol operiert die Randomebene oder Agentenebene. 
                Beide Ebenen orientieren sich an der Verschlagwortung der einzelnen Tagebucheinträge. 
                Es ist Anspruch die Datenbank mit Inhalten ein Leben lang zu pflegen.</p>
        </div>

        <!--<div id="browserTextDiv">
            <div id="browserText">
            Die Erzählung verwendet WebGL.<br />
            Zur korrekten Darstellung verwenden Sie bitte <a href="https://www.google.com/intl/de/chrome/browser/">Google Chrome</a> oder <a href="http://www.srware.net/software_srware_iron.php">SRWare Iron</a>.  
            </div>
       
        </div>-->
     
        <div id="persons">
        Idee/Konzept <b>Katharina Groß</b> <br />
        Programmierung <b>Mario Gienapp &amp; Marcus Degenkolbe</b>
        </div>
    </div>
    <button id="enter" onclick="window.location.href='#/intro'">ENTER</button>
</div>