html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	font-family: Arial;
	overflow: hidden;
}

#search {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
}

#search input {
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #0080ff;
	padding: 10px;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-border-radius: 0px; /* workaround for ios safari */
}

#search button {
	color: #0080ff;
	background-color: transparent;
	border: 1px solid #0080ff;
	padding: 10px;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
}

