/* tell the SVG path to be a thin blue line without any area fill */
.aGraph path {
	stroke: #778899;
	stroke-width: 2;
	fill: none;
}

.aGraph {
	z-Index:3;
	position:absolute;
	top:20%;
	font-family:Courier;
	color: #778899;
	float:left;
	left: 80px;
	border:solid;
}

.aGraph svg {
	padding-left: -30px;
	
	
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}