<div ng-controller="App.getRelations">
	<!-- 
	{{ relations.nodes.length }} Knoten mit {{ relations.relations.length }} Verbindungen vorhanden
	<ul ng-repeat="node in relations.nodes">
		<li><strong>{{node.id}}:</strong> <span>{{node.name}}</span>
		</li>
	</ul>
	<ul ng-repeat="relation in relations.relations">
		<li>{{relation.src}} -&gt; {{relation.dst}} ({{relation.relation}})
		</li>
	</ul>
	<script type="text/javascript">
		nodes = {{ relations.nodes }};
		relations = {{ relations.relations }};
		restart();
	</script>
	 -->
	 Node-Editor
	 <div id="grapheditor"></div>
</div>