<div ng-controller="App.articleList" id="articleList">
	
	<div class="articleCtrl">
		{{ items.length }} Gedanken vorhanden<br />
		<div class="input-append">
        	<input type="text" ng-model="query" ng-change="search()" class="form-control" placeholder="Suche">
        </div>
		
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="sort_by('id')">
				<span class="glyphicon glyphicon-sort"></span> #
			</button>
			<button type="button" class="btn btn-default" ng-click="sort_by('book')">
				<span class="glyphicon glyphicon-sort"></span> Tagebuch
			</button>
			<button type="button" class="btn btn-default" ng-click="sort_by('symID')">
				<span class="glyphicon glyphicon-sort"></span> Symbol
			</button>
			<button type="button" class="btn btn-default" ng-click="sort_by('name')">
				<span class="glyphicon glyphicon-sort"></span> Name
			</button>
			<!-- show active / inactive -->
			<button type="button" class="btn btn-default" ng-click="toggleShow()" ng-class="{'btn-primary': show != 'alle'}">
				<span class="glyphicon glyphicon-filter"></span>{{ show }} werden angezeigt
			</button>
		</div>
	</div>


	<!-- pages top -->
	<div class="pages" style="margin: 5px auto; text-align: center;">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)"
                ng-class="{active: n == currentPage}"
            ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>

	<!-- Show articles -->
	<div class="panel article" ng-class="{'panel-primary': article.active == 1, 'panel-default': article.active == 0}" ng-repeat="article in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
		<div class="panel-heading">
			<h3 class="panel-title">#{{article.id}} {{article.name}}</h3>
		</div>
		<div class="panel-body" ng-bind-html-unsafe="article.text"></div>
		<div class="panel-body">
			<b>Meme:</b>
			<span ng-repeat="cat in article.category">{{cat.name}} </span>
			<br />
			<b>Tagebuch:</b> {{article.book}}
			<br />
			<b>Symbol: </b> <span ng-bind-html-unsafe="article.symIcon"></span>  {{article.symName}}
		</div>
		<div class="panel-footer">
			<button class="btn btn-warning" ng-click="editArticle(article.id)">Editieren</button>
			<button class="btn btn-danger" ng-click="deleteArticle(article.id)">Löschen</button>
		</div>
	</div>
	
	<!-- pages bottom -->
	<div style="margin: 5px auto; text-align: center;">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)"
                ng-class="{active: n == currentPage}"
            ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</div>