<div id="articleWrapper">
	
	<!-- headline -->
	<div id="symbolContainer" class="articleInput" ng-show="showSymbolSelection">
		<div class="smallLabel">Symbol</div>
		<div></div>
		<select id="symbol" data-placeholder="Symbol wählen" class="chosen-select"></select>
	</div>	
	<div class="articleInput">
		<div class="smallLabel">Tagebuch</div>
		<input id="book" type="number" min="0" max="99" placeholder="Nr" class="articlebook"
				 ng-model="confirmed" ng-change="changeBookNumber()"></input>
	</div>	
	<div class="articleInput">
		<div class="smallLabel">Titel</div>
		<input id="headline" type="text" placeholder="Titel" class="articleHeadline"></input>
	</div>
	<!-- category select -->
	<div class="articleInput">
		<div class="smallLabel">Schlagworte</div>
		<div></div>
		<select id="category" data-placeholder="Schlagworte wählen" multiple="multiple" class="chosen-select articleCategories"></select>
	</div>
	<div class="articleInput">
		<button ng-click="newCategory()" class="btn btn-primary editor-savebtn">
		<span class="glyphicon glyphicon-plus"></span> Schlagwort
		</button>
	</div>
	<div class="articleInput">
		<div class="smallLabel">Aktiv</div>
		<div></div>
		<input type="checkbox" id="active" class="form-control">
	</div>
	<div class="articleInput">
		<button ng-click="saveArticle()" class="btn btn-success editor-savebtn">Speichern</button>
	</div>
	
	
	
	<!-- tiny mce editor -->
	<div id="editor" class="articleEditor">
		<textarea id="editortext" ngModel="content"></textarea>
		<iframe id = "form_target" name="form_target" style="display:none"></iframe>
		<form id ="upload_form" method="post" action="/backend.php?action=upload" target="form_target"  enctype="multipart/form-data" style="width:0px;height:0px;overflow:hidden">
			<input name="image" type="file" onchange="$('#upload_form').submit();">
			<!-- <input name="image" type="file"> -->
		</form>
	</div>

	<!-- editor preview -->
	<div class="panel panel-default articlePreview">
		<div class="panel-heading">
	    	<h3 class="panel-title">Vorschau</h3>
	  	</div>
  		<div id="preview" class="panel-body" ng-bind-html-unsafe="preview">
  		</div>
</div>
	
	
</div>