body {
	font-family: Arial;
	padding: 10px;
}

div#view{
	padding-top: 45px;
}

/*** LOGIN ***/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input {
	margin-bottom: 5px;
}

/** ARTICLE OVERVIEW ***/
.article{
	margin: 12px auto;
	width: 700px;
}

/* .article p{
	padding: 0px !important;
} */

.articleCtrl{
	width: 700px;
	margin: 0px auto;
}

.article h3{
	font-weight: bold;
}

.article img{
	max-width: 470px;
	height: auto;
}

/*** EDITOR ***/
.articleHeadline, .articlebook{
	min-width: 300px;
	padding: 3px;
	margin: 5px;
	font-size: medium;
	font-weight: bold;
	/* clear:both; */
}

.articlebook{
	min-width: 40px;
	width: 40px !important;
}

.smallLabel{
	font-size: smaller;
	padding-left: 5px;
}

.articleInput{
	padding: 2px;
	float: left;
	vertical-align: baseline;
}

.articleInput select{
	margin: 5px;
	width: 120px;
}

.articleInput div{
	margin-top: 3px;
	-moz-box-sizing: content-box;
}

.articleEditor{
	margin: 5px;
	clear: both;
}

#editortext{
	min-height: 300px;
}

.articleCategories{
	margin: 5px;
	min-width:350px;
}

#articleWrapper *{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.editor-savebtn{
	margin: 10px;
	margin-top: 22px;
}

.articlePreview{
	width: 65ex;
	margin: 10px auto;
}